.container {
  position: absolute;
  //width: 2480px;
  //height: 3508px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  color: $light;
  @include mq(1039px) {
    height: 100%;
  &:before {
    content: "You can't display this page on a screen smaller than 1040px";
    color: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
  >.wrapper {
    width: 1040px;
    height: 1490px;
    margin: 0 auto;
    font-weight: 400;
    background-image: url('../../img/mainbg2.jpg');
    background-repeat: repeat-y;
    background-position: center center;
    display: flex;
    padding: 20px;
    position: relative;
    @include mq(1040px) {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $dark;
      opacity: 0.8;
    }
  }
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: inherit;
}

h1,
h2 {
  font-weight: 300;
  margin-bottom: 38px;
  color: $light;
}

h1 {
  //font-size: 140px;
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

p {
  color: $light;
  font-family: $robo;
  font-size: 24px;
}

button {
  cursor: pointer;
}

svg {
  display: inline-block;
  width: auto;
  height: 100%;
  position: relative;
}