.header {
  >h1 {
    color: rgba($basic, 0.7);
    font-family: $comf;
    font-weight: 400;
    margin: 0;
    >span {
      color: $basic;
      font-weight: 700;
    }
    &:nth-child(2) {
      padding-left: 38px;
    }
  }
  >p {
    text-align: center;
    color: $light;
    margin: 20px 0;
    font-size: 28px;
  }
}