.side {
  flex: 2;
  background-color: rgba($basic, 0.8);
  width: 300px;
  position: relative;
  >.photo,
  .qr {
    width: 100%;
    >img {
      display: block;
      width: 100%;
    }
  }
}

.contact {
  padding: 50px 30px 0 30px;
&__item {
  &Svg {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    fill: $light;
  }
  &Text {
    display: inline-block;
    vertical-align: middle;
    font-family: $robo;
    font-size: 24px;
  }
}
}